<%= turbo_frame_tag "modal" do %>
    <div
        data-controller="modal"
        data-modal-target="modalWrapper"
        data-action="keyup@document->modal#handleKeyup turbo:submit-end->modal#submitEnd"
        class="hidden relative z-10"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true">

        <div
            class="hidden fixed inset-0 h-full w-full bg-gray-500 bg-opacity-75 transition-opacity"
            data-modal-target="modalBackdrop"
            data-transition-enter="ease-out duration-300"
            data-transition-enter-start="opacity-0"
            data-transition-enter-end="opacity-100"
            data-transition-leave="ease-in duration-200"
            data-transition-leave-start="opacity-100"
            data-transition-leave-end="opacity-0"
        ></div>

        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div
                    class="hidden relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
                    data-modal-target="modalPanel"
                    data-transition-enter="ease-out duration-300"
                    data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
                    data-transition-leave="ease-in duration-200"
                    data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
                    data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">

                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="px-6 py-6 lg:px-8">
                            <div class="flex justify-between items-center mb-4">
                                <h3 class="text-xl font-medium text-[#1D1D1D]"><%= title %></h3>
                                <%= button_tag "", data: { action: "modal#closeModal" }, type: "button" do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                <% end %>
                            </div>
                            <%= content %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
