<div class="flex flex-col justify-center mx-auto max-w-4xl text-center mt-24">
    <h1 class="text-4xl font-extrabold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
        Software I use in my day, and things I would recommend.
    </h1>
    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        That's my gear, my preference. Here's a big list of all of my favorite stuff.
    </p>

    <div class="mt-16 mb-16">
        <div class="space-y-20">
            <section aria-labelledby=":r0:" class="text-left md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                    <h2 id=":r0:" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">
                        Workstation
                    </h2>
                <div class="md:col-span-3">
                    <ul role="list" class="space-y-16">
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                13” MacBook Air M1, 8GB RAM 256GB SSD (2021)
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                This is my first MacBook that I buy, and I love it. Its fast, never struggle and I can open whatever program I want.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                Gigabyte G24F, 170Hz
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                I use it as my gaming monitor too.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                DELL 19"
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                My second monitor, usefull.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                IQUONIX OG80 Wormhole
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                Very nice keyboard. With rose cherry switches.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                Sony WH1000XM4
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                Best headsets that I buy. Have awesome sound and noise cancelling.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                Logitech MX Masters 3s White
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                I bought it because a friend recommend it, and Its one of the best mouse I test.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                HyperX SoloCast
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                Just a normal mic for dailys and stuff.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                IKEA Markus
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                Comfortable and very robust, very nice chair.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <section aria-labelledby=":r0:" class="text-left md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                    <h2 id=":r0:" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">
                        Development software
                    </h2>
                <div class="md:col-span-3">
                    <ul role="list" class="space-y-16">
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                Visual Studio Code
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                Best free editor. Just use it.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                PHPStorm
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                As my main PHP ide.
                            </p>
                        </li>
                        <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                Warp
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                A really nice AI suggest terminal. You should try it.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
